.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* .wrap {
  margin: 10px;
} */

.btns {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}